
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

html {
    overflow: hidden;
    scroll-behavior: smooth;
}

body {
	overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    font-family: 'Poppins', sans-serif;
}

main {
	position: relative;
    margin: 0;
	min-width: 100%;
	min-height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

* {
	box-sizing: border-box;
}

body {
	text-align: center;
}

.container {
    margin: 0;

}

#portfolio {
    color: #e2e8ed;
}

header {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #116466;
    color: white;
}

header h1 {
    font-size: 4rem;
    font-weight: 700;
	margin: 0;
	text-transform: uppercase;
}
header h2 {
    font-size: 1.5rem;
	font-weight: 500;
}

.navbar {
    overflow: hidden;
    width: 100%;
    height: 60px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 40px;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: #444444;
}

.navbar .left {
    float: left;
}

.navbar .right {
    float: right;
}

.navbar .left a {
    float: none;
    text-align: center;
    color: white;
    height: 55px;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 10px;
    width: auto;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar .left a:hover {
    border-bottom: 3px solid #e2e8ed;
}

.navbar .right a {
    float: none;
    text-align: center;
    width: 55px;
    height: 55px;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar .right a img {
    filter: invert(98%) sepia(3%) saturate(1000%) hue-rotate(178deg) brightness(96%) contrast(93%);
    padding: 0;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    
}

.navbar .right a:hover {
    border-bottom: 3px solid #e2e8ed;
}

.middle {
    margin-left: 30px;
    margin-right: 30px;
}

.item {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    color: black;
}

.item .title {
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
}

.item .underPortfolio {
    width: 120px;
    border-bottom: 3px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.item .underAbout {
    width: 130px;
    border-bottom: 3px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.item .underResume {
    width: 110px;
    border-bottom: 3px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.item .underContact {
    width: 160px;
    border-bottom: 3px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#about {
    max-width: 1100px;
}

#projects {
    max-width: 1100px;
}

.item .about .row .column {
    float: left;
    padding: 10px;
}

.item .about .row .left {
    width: 35%;
    margin-right: 10%
}

.item .about .row .left img {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px #999999;
    margin-bottom: 20px;
}

.item .about .row .left .personal {
    font-style: italic;
    font-weight: 300;
    font-size: 1.25rem;
}

.item .about .row .right {
    width: 55%;
}

.item .about .row:after {
    content: "";
    display: table;
    clear: both;
}

.item .about .row h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.item .about .row .right .content {
    font-size: 1rem;
    font-weight: 400;
}

.item .about .row .right .skills  {
    margin-top: 20px;
}

.item .about .row .right .education {
    margin-top: 40px;
    margin-bottom: 40px;
}

.projects {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

.projects .oz {
    margin-top: 40px;
    margin-bottom: 40px;
}

.project h2 {
	display: inline-block;
	font-size: 1.5rem;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: 500;
}

.project .buttons a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 0.4rem 0.4rem;
    background-color: #c5c6c7;
}

.project .buttons a:hover {
    border: 1px solid #116466;
    color: white;
    background-color: #116466;
}

.project .buttons a:hover img {
    filter: invert(1);
}

.project .buttons .second {
    margin-left: 20px;
    margin-right: 20px;
}

.project h4 {
    display: inline-block;
    font-size: 1rem;
    margin: 0.5rem 0;
    font-weight: 400;
}

.project p {
    margin: .5rem 0;
    font-size: 1rem;
    font-weight: 400;
}

.project .subtitle {
	font-size: 1.25rem;
	font-style: italic;
}

.resume {
    margin: 1.5rem auto;
}

.end {
    margin-bottom: 100px;
}

section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh;
    background: #112d42; */
}

/* section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #03a9f4;
} */

section .contact {
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}
 
section .contact .contactinfo {
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: #116466;
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

section .contact .contactinfo h2 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
}

section .contact .contactinfo .info {
    position: relative;
    margin: 20px 0;
    padding: 0;
}

section .contact .contactinfo .info li {
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

section .contact .contactinfo .info li span:nth-child(1) {
    width: 30px;
    min-width: 30px;
}

section .contact .contactinfo .info li span:nth-child(1) img {
    max-width: 100%;
    filter: invert(1);
    opacity: 0.5;
}

section .contact .contactinfo .info li span:nth-child(2) {
    color: #fff;
    margin-left: 10px;
    font-weight: 400;
    font-size: 1rem;
    opacity: 0.5;
}

section .contact .contactinfo .info li:hover span:nth-child(1) img,
section .contact .contactinfo .info li:hover span:nth-child(2) {
    opacity: 1;
}



section .contact .contactinfo .links {
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    text-align: center;
}

section .contact .contactinfo .links li {
    list-style: none;
    display: inline;
    margin-right: 20px;
}

section .contact .contactinfo .links li a {
    text-decoration: none;
}

section .contact .contactinfo .links li a img {
    width: 40px;
    height: 40px;
    filter: invert(1);
    opacity: 0.5;
}

section .contact .contactinfo .links li:hover a img {
    opacity: 1;
}

section .contact .contactForm {
    position: absolute;
    padding: 70px 50px;
    background: #c5c6c7;
    margin-left: 150px;
    padding-left: 250px;
    width: calc(100% - 150px);
    height: 100%;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}

section .contact .contactForm h2 {
    color: #0f3959;
    font-size: 1.5rem;
    font-weight: 500;
}

section .contact .contactForm .formBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

section .contact .contactForm .formBox .inputBox {
    position: relative;
    margin: 0 0 35px 0;
}

section .contact .contactForm .formBox .inputBox.w50 {
    width: 47%;
}

section .contact .contactForm .formBox .inputBox.w100 {
    width: 100%;
}

section .contact .contactForm .formBox .inputBox input {
    width: 100%;
    padding: 5px 0;
    resize: none;
    font-size: 1rem;
    font-weight: 300;
    color: #c5c6c7;
    border: none;
    outline: none;
}

section .contact .contactForm .formBox .inputBox input,
section .contact .contactForm .formBox .inputBox textarea {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    resize: none;
    font-size: 1rem;
    font-weight: 300;
    color: black;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    background: #c5c6c7;
}

section .contact .contactForm .formBox .inputBox textarea {
    min-height: 120px;
}

section .contact .contactForm .formBox .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 1rem;
    font-weight: 300;
    color: black;
    transition: 0.5s;
    pointer-events: none;
}


section .contact .contactForm .formBox .inputBox input:focus ~ span,
section .contact .contactForm .formBox .inputBox textarea:focus ~ span,
section .contact .contactForm .formBox .inputBox input:valid ~ span,
section .contact .contactForm .formBox .inputBox textarea:valid ~ span {
    transform: translateY(-20px);
    font-size: 0.75rem;
    font-weight: 300;
    letter-spacing: 1px;
    color: #f27d42;
}

section .contact .contactForm .formBox .inputBox input[type="submit"] {
    position: relative;
    cursor: pointer;
    background: #116466;
    color: white;
    border: none;
    max-width: 150px;
    padding: 12px;
}

section .contact .contactForm .formBox .inputBox input[type="submit"]:hover {
    background: #f27d42;
}

.footer {
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    background-color: #444444;
    color: white;
    height: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

